<h1>Abut page</h1>
@*@{
    var model = new ModelEntity()
    {
        Title = "Science",
        Items = new List<string>()
        {
            "History",
            "Math",
            "Geography",
            "Pysics"
        }
    };
}
@{
    await Html.RenderPartialAsync("_ListPartialView1", model);   
}*@

<button class="button button-blue-back" id="button-load" type="button">Click</button>
<div class="box language-data"></div>
<script>
    document.querySelector("#button-load")
    .addEventListener("click", async function ()
    {
        let response = await fetch("programming-languages");
        let languages = await response.text();
        document.querySelector(".language-data").innerHTML = languages;
    }
        )
</script>