<h1>Index page</h1>
<partial name = "_ListPartialView"></partial>
@{
    ViewBag.Title = "Cities";
    ViewBag.ListItems = new List<string>
    {
        "Rome",
        "Torino",
        "Venezia",
        "Monza"
    };
}
<div class="box">
    <partial  name="_ListPartialView" />    
</div>


@*
Partial view ichidagi change tashqaridagi razor page ga ta'sir qilmaydi 
chunki ViewData dan copy olib yuboradi o'sha copy qilingan update bo'lib turaveradi
shuning uchun ViewDatani view-data = ViewData kabi parametr bilan berish kerak*@
<h1> @ViewBag.Title</h1>




